<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<style type="text/css">
    	a{margin-left: 20px; text-decoration: none;}
    	a:hover{text-decoration: underline;}
    </style>
</head>
<body>
	<h1>Your name: <%- user.name %></h1>
	<p>Task</p>
	<ul>
        <%for(var i = 0 ; i < datalist.length ; i++) {%>
        <li><%= datalist[i].arribute1%></li>
		<li><%= datalist[i].arribute2%></li>
		<li><%= datalist[i].arribute3%></li>
        <%}%>
    </ul>
	<p>
		<a href="/logout">我要注销</a>
	</p>
</body>
</html>