<!DOCTYPE html>
<html>
<head>
	<title>服装商城管理系统</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/common.css" />
	<link rel="stylesheet" href="/stylesheets/upload.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
	<!--注意加载顺序-->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>
	
<body>
	<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header navbar-brand" >
            服装商城管理系统
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/home">未完成任务</a></li>

              <li><a href="/complete">已完成任务</a></li>

              <li><a href="/upload">创建任务</a></li>
                <li><a href="#">欢迎,<%= user.name %></a></li>
                <li><a href="/logout">注销</a></li>
            </ul>
        </div>
      </div>
  </nav>

    <h1 style="text-align: center"><%= title %></h1>
    <ul class="list-group">
		<!-- 这里使用form是为了使用required属性 -->
		<form method="post" enctype="multipart/form-data" role="form" onsubmit="return false">
			<li class="list-group-item" style="text-align:left">
				<select id="year">
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
				</select>
				<select id="seasion">
					<option value="春季">春季</option>
					<option value="夏季">夏季</option>
					<option value="秋季">秋季</option>
					<option value="冬季">冬季</option>
				</select>
	    		<label>
	    			请输入任务名称：<input type="text" name="name" id="name" required>
	    		</label>
	    	</li>
			<li class="list-group-item">

				<div class="img-box full">
					<section class=" img-section">
						<p class="up-p">非走秀图片:<span class="up-span">最多可以上传5张图片，马上上传</span></p>
						<div class="z_photo upimg-div clear" >
								 <section class="z_file fl">
									<img src="/image/used/background.png" class="add-img">
									<input type="file" id="NonShowedPhoto" class="file" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple required>
								 </section>
						 </div>
					 </section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p">
							<span class="del-com wsdel-ok">确定</span>
							<span class="wsdel-no">取消</span>
						</p>
					</div>
				</aside>
			</li>

			<li class="list-group-item">
				<div class="img-box full">
					<section class=" img-section">
						<p class="up-p">走秀图片: <span class="up-span">最多可以上传5张图片，马上上传</span></p>
						<div class="z_photo upimg-div clear" >
								 <section class="z_file fl">
									<img src="/image/used/background.png" class="add-img">
									<input type="file" id="ShowedPhoto" class="file" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple required>
								 </section>
						 </div>
					 </section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p">
							<span class="del-com wsdel-ok">确定</span>
							<span class="wsdel-no">取消</span>
						</p>
					</div>
				</aside>
			</li>
			<legend></legend>
			<div style="text-align:center">
		    	<input type="submit" class="btn btn-primary" id="button" value="创建">
			</div>
		</form>
	</ul>
	
	

	<script src="/javascripts/uploadImg.js"></script>
</body>
</html>