<% items.forEach(function(item) { %>
<div class="panel panel-success">
    <div class="panel-heading">
        <table width="100%">
            <tr>
                <td class="td-title" width="90%">
                    <a class="collapse-panel-body" href="#">
                        <div style="width: inherit;">
                            <div class="icon-arrow"></div>
                            <span class="tag"> <%= item.group %>:<%= item.type %> </span>
                        </div>
                    </a>
                </td>
                <td class="td-edit" style="text-align: center">
                    <span class="glyphicon glyphicon-edit icon-cross" style="margin-top: 2px"></span>
                </td>

                <td class="td-remove" style="text-align: center">
                    <a class="remove" href="#">
                        <span class="glyphicon glyphicon-trash icon-cross" style="margin-top: 2px"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-collapse">
        <div class="panel-body">
            <% item.attributes.forEach(function(attr) { %>
            
                <span class="label label-info" name="<%= attr.attr_name %>"><%= attr.attr_values %></span>
            <% }) %>
        </div>
    </div>
</div>
<% }) %>