<% if(status === 200) { %>
    <div class="msg-content" style="color: #549e11; background-color: rgba(186, 253, 153, 0.93);">
<% } else { %>
    <div class="msg-content">
<% } %>
    <div style="display: table-cell; vertical-align: middle;">
        <%= msg %>
    </div>
</div>