html {
    font-family: Consolas, serif;
}

body {
    background: rgb(249, 249, 249);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-header {
    text-align: center;
}

.form-header h1:before {
    display: inline-block;
    content: " ";
    margin-right: 15px;
    margin-bottom: 5px;
    width: 70px;
    height: 6px;
    border-top: 1px solid #333;
}

.form-header h1:after {
    display: inline-block;
    content: " ";
    margin-left: 15px;
    margin-bottom: 5px;
    width: 70px;
    height: 6px;
    border-top: 1px solid #333;
}

.login-register-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.field-wrap {
    position: relative;
    margin-top: 30px;
}

.select-wrap {
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
}

.select-wrap > div {
    float: left;
}

.select-wrap .label {
    margin-left: 2px;
    margin-top: 1px;
    margin-right: 10px;
}

.select-style {
    display: block;
    overflow: hidden;
    height: 30px;
    width: 205px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #d1d5da;
    color: #717171;
    line-height: 2;
    position: relative;
    z-index: 1;
}

.select-style:hover {
    background-color: #eaeaea;
}

.select-style:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 10px;
    margin-top: -2.5px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #717171 transparent transparent transparent;
    content: "";
}

.select-style:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 10px;
    margin-top: -3.5px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #f9f9f9 transparent transparent transparent;
    content: "";
}

.select-wrap label {
    color: #8b8b8b;
    font-size: 15px !important;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 10px 30px 30px 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.form input {
    font-family: Consolas, serif;
    background-color: #f9f9f9;
    border: 1px solid #d1d5da;
    width: 100%;
    color: #717171;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.form input:hover {
    background-color: #eaeaea;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #4ec052;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .message a:hover {
    color: #43A047;
}

.form .register-form {
    display: none;
}

.form select {
    display: block;
    font-family: Consolas, serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: none;
    border-width: 0;
    outline: none;
    -webkit-appearance: none;
    padding: 0 5px;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    z-index: 3;
}

.form select option {
    color: #222;
}

.form select option:checked {
    background: #d1d5da;
}

.form .field-wrap label {
    position: absolute;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    left: 12px;
    color: rgb(174, 174, 174);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 20px !important;
}

.form .field-wrap label .req {
    margin: 2px;
    color: rgba(255, 0, 0, 0.62);
}

.form .field-wrap label.active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    left: 2px;
    font-size: 15px !important;
    color: #8b8b8b;
}

.form .field-wrap label.active .req {
    opacity: 0;
}

.form .field-wrap label.highlight {
    color: #000000;
}

#not-pass-confirm {
    margin-top: 20px;
    color: #ff0000;
    font-size: 17px;
}