#process-panel {
    height: 700px;
    overflow-y: auto;
    padding: 10px;

}

#photo-panel{
    height: 700px;
    text-align:center;
}

.panel-hide {
    display: none;
}

.arrow{
    color: #289fc4;
    display: inline-block;
    border-right: 3px solid;
    border-bottom: 3px solid;
    width: 9px; height: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .3s;
    transition: .3s;
}
.panel-body-open > div .arrow {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.photo-ontagging {
    overflow: hidden;
}

.blank{
    width: 5px;
}

.icon-style{
    color: #289fc4;
    cursor: pointer;
    margin-top: 2px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.icon-style:hover {
    color: #ff0000;
}

.icon-style:active {
    color: #cc0000
}

.panel-success > .panel-heading:hover{
    color:#3c763d;
    background-color: #d4f0cc;
    border-color:#d6e9c6;
}

a:hover, a:link, a:active, a:visited {
    text-decoration: none;
}

.tag{
    color: #000000;
}

.collapse-panel-body{
    padding-left: 0px;

}

hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #000000;
}

img{
    /*margin-bottom: 10px;*/
    height: 100%;
    /*vertical-align: middle;*/
}

.panel-body label,
span.label{
    cursor: pointer;
}

.panel-body input[type=checkbox]:checked + label .label,
.panel-body input[type=radio]:checked + label .label{
    background: #26ca28;
}

.label-color-change{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}