#process-panel {
    height: 500px;
    overflow-y: auto;
    padding: 10px;

}

.panel-hide {
    display: none;
}

.icon-arrow{
    display: inline-block;
    border-right: 3px solid;
    border-bottom: 3px solid;
    width: 9px; height: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .3s;
    transition: .3s;
}
.panel-body-open > div .icon-arrow {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.photo-ontagging {
    overflow: hidden;
}

.blank{
    width: 5px;
}

.icon-cross, .icon-arrow {
    color: #289fc4;
}

.icon-cross:hover {
    color: #ff0000;
}

.icon-cross:active {
    color: #cc0000
}

a:hover, a:link, a:active, a:visited {
    text-decoration: none;
}
.tag{
    color: #000000;
}
.collapse-panel-body{
    padding-left: 0px;

}